<!DOCTYPE html>
<html>
  <head>
    <title>Student's profile</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="card-profil">
      <img src="images/prog=fil-image.webp" alt="profil-image">
      <div>
        <h3>First Name: #{firstname}</h3>
        <h3>Last Name: #{lastname}</h3>
        <h3>uesrname: #{username}</h3>
        <h3>Role: #{role}</h3>
        <h3 class="school">School: #{school}</h3>
        <div class="links">
          <a id="edit-profil" class="editprofil" href="profil-changes-admins.html">Edit profile</a>
          <a class="editpassword" href="change-password.html">Change Password</a>
        </div>
        
      </div>
    </div>
    
    <script src="script.js"></script>
    <div class="footer">
      <h3>Copyright © 2023</h3>
    </div>

  <script src="script.js"></script>
  </body>
</html>